@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Barlow;
  background-color: #202020;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */;
  overflow: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Barlow;
  border-radius: 5px;
}

p {
  color: whitesmoke;
  font-size: 12px;
}

h2 {
  color: #FF8A00;
}

h3,h4 {
  color: whitesmoke;
  font-weight: 100;
  margin: 22px 0px;
}


h4 {
  font-weight: lighter;
    font-size: 14px;

}

label {
  color: whitesmoke;
  font-size: 12px;
}

tag {
background-color: #323232;
color: whitesmoke;
font-size: 10px;
padding: 6px 16px;
text-align: center;
cursor: pointer;
}

hr {
  border-top: 3px solid #bbb;
}

info {
  font-size: 10px;
  color: whitesmoke;
  display: flex;
align-items: center;
  gap: 3px;
  justify-content: space-between;
}






/* button stylings */

button {
  background-color: #FF8A00;
  color: white;
  height: 38px;
  border: none;
  outline: none;
  padding: 0px 32px;
  cursor: pointer;
}

button:hover {
background-color: #ff9c2b;
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);}


button:active {
background-color: #d17000;
}

.button-mini{
height: 18px;
background-color: #323232;
color: #FF8A00;
font-size: 10px;
padding: 0px 16px;
}

.button-mini:hover {
background-color: #323232c7;
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);}


.button-mini:active {
background-color: #222222;
}

/* input stylings */

input {
  background-color: #2E2E2E;
  color: white;
  height: 38px;
  border: none;
  outline: none;
  padding: 0px 16px;
}

input:focus {
 outline:black;
}

header {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
background-color: #262626;
  height: 15vh;
  width: 100%;
  padding: 0px 32px;
}

/* container styling */

content {
    margin-top: 20vh;    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

contentmain {
  display: flex;
  grid-auto-flow: column;
  grid-gap: 16px;
  padding: 16px;
  justify-content: space-between;
}

/* card styling */

card {
  background-color: #262626;
  height: 400px;
  border-radius: 5px;
  padding: 0px 16px;
}

cardheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px
}

cardcontent {
  display: flex;
  flex-direction: column ;
  gap: 16px;
}

count {
  font-size: 28px;
  color: whitesmoke;
}

block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

blockcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
}

blockheader {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

blockinput {
  display: flex;
  background-color: #222222;
  padding: 12px 32px;
  gap: 16px;
  align-items: center;
  justify-content: center;
  line-height: 0px;
}


form {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: #262626;
  border-radius: 5px;
  padding: 16px;
}

formcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
}

formheader {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}



banner {
  display: flex;
  padding: 4px 32px;
  background-color:#ff9c2b ;
  color: white;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  border-radius: 0px 0px 5px 5px;
  line-height: 0px;
}

.mini-banner {
  height: 70px;
  border-radius: 0px;
  background-color: white;
  color: black
}

.mini-banner > h3 {
  color: black;
}

.mini-banner > button {
  background-color: rgb(23, 156, 23);
}

.mini-banner > button:hover {
  background-color: rgb(30, 192, 30);
}

.mini-banner > button:active {
  background-color: rgb(24, 177, 24);
}

footer {
  padding: 16px 32px;
  color: whitesmoke;
  font-size: small;
}

backdrop {
  display:  flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color:rgba(22, 22, 22, 0.93);
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

prompt {
     display: flex;
     flex-direction: column;
   background-color: #202020;
   padding: 32px;
   justify-content: space-between;
   align-content: space-between;
     gap: 32px

}

promptheader {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  line-height: 10px;
}

promptcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px
}

icon {
  color: whitesmoke;
  cursor: pointer;
}



splash {
  background: url('/assets/splash/splash.png');
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;

}

splashcontent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px
}

logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px
}


column {
  display: flex;
  flex-direction: column;
}


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.ref {
  padding: 12px 12px;
  justify-content: space-between;
}

toast{
  background-color: white;
  position: absolute;
  top: 16vh;
  right: 0;
  margin-right: 32px;
  z-index: 3;
  padding: 16px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

toast > label {
    color: rgb(39, 175, 39);

}