@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Barlow;
  background: linear-gradient(
    139.73deg,
    rgb(229, 253, 255) 0%,
    rgb(243, 239, 255) 100%
  );

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  overflow-x: hidden;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Barlow;
  border-radius: 5px;
  line-height: normal;
}

p {
  font-size: 12px;
}

h2 {
  color: #ff8a00;
  margin: unset;
}

h3,
h4 {
  font-weight: 100;
  margin: unset;
}

h4 {
  font-weight: lighter;
  font-size: 14px;
}

label {
  font-size: 12px;
}

tag {
  background-color: #d7d7d7;
  font-size: 10px;
  padding: 6px 16px;
  text-align: center;
  cursor: pointer;
}

hr {
  border-top: 3px solid #bbb;
}

info {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}

/* button stylings */

button {
  background-color: #ff8a00;
  color: white;
  height: 38px;
  border: none;
  outline: none;
  padding: 0px 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1em;
  border-radius: 16px;
  letter-spacing: 0.03em;
}

button:hover {
  background-color: #ff9c2b;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #d17000;
}

.button-mini {
  background-color: #ff8a00;
  color: #fff;
  font-size: 12px;
  padding: 4px 16px;
  height: auto;
  font-weight: normal;
}

/* input stylings */

input {
  height: 38px;
  border: none;
  outline: none;
  padding: 0px 16px;
  background: transparent;
  font-size: 1em;
}

input::placeholder {
  font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* Header Stylings */

header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 2em;
  background-color: #fff;
  height: 65px;
  width: 100%;
  padding: 0px 32px;
  z-index: 1;
}

/* container styling */

content {
  width: 100%;
  height: auto;
  justify-content: space-around;
}

contentmain {
  margin-top: 1em;
  display: flex;
  grid-auto-flow: column;
  grid-gap: 16px;
  padding: 16px;
  justify-content: space-between;
  margin-bottom: 2em;
}

.user_details {
  width: 100%;
  margin-top: calc(65px + 1em);
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1em;
  background: #fff;
}

/* card styling */

.leaderboardCard {
  grid-area: leaderboard;
}

.refferalCard {
  grid-area: refferal;
}

card {
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  min-width: 250px;
}

cardheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 1em;
}

cardcontent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 90%;
}

count {
  font-size: 28px;
}

block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

blockcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

blockheader {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

blockinput {
  display: flex;
  background-color: #f5f5f5;
  padding: 12px 32px;
  gap: 16px;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  white-space: nowrap;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px;
  background: #fff;
}

.form_header {
  background: #fff;
  padding: 12px 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid rgb(231, 227, 235);
}

.form_control {
  border-radius: 20px;
  background-color: rgb(238, 234, 244);
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  padding: 12px 16px;
}

.form_control > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_control > div > input {
  width: 100%;
  margin-right: 1em;
  font-size: 1em;
}

.form_control > div > p {
  display: flex;
  align-items: center;
  grid-gap: 0.5em;
}

banner {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: #ff9c2b;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  padding: 10px 2em;
}

.mini-banner {
  width: 100%;
  border-radius: 0px;
  background-color: white;
  color: black;
  padding: 10px 32px;
}

.mini-banner > h3 {
  color: black;
}

.mini-banner > button {
  background-color: rgb(23, 156, 23);
}

.mini-banner > button:hover {
  background-color: rgb(30, 192, 30);
}

.mini-banner > button:active {
  background-color: rgb(24, 177, 24);
}

footer {
  padding: 16px 32px;
  font-size: small;
}

backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1100;
}

prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1200;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5em;
  grid-gap: 1.5em;
}

promptheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

promptcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 16px;
  gap: 1em;
}

icon {
  cursor: pointer;
}

splash {
  background: url("/assets/splash/splash.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;
  color: #ff9c2b;
}

splashcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

column {
  max-width: 440px;
  width: 100%;
  grid-area: columnarea;
  display: flex;
  flex-direction: column;
}

.flex_gap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 2em;
}

.row,
.earnings_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.card_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.ref {
  display: flex;
  padding: 12px 12px;
  justify-content: space-between;
}

toast {
  background-color: white;
  position: fixed;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 10px 16px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

toast > label {
  color: rgb(39, 175, 39);
}

.hamburger {
  display: none;
}

.hamburger > div {
  cursor: pointer;
}

.block_one {
  grid-area: block_one;
}

.block_two {
  grid-area: block_two;
}

.block_three {
  grid-area: block_three;
}

.block_four {
  grid-area: block_four;
}

@media (max-width: 992px) {
  contentmain {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    place-items: center;
    grid-template-areas:
      "columnarea"
      "refferal"
      "leaderboard";
  }

  card {
    max-width: 440px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card_row {
    justify-content: space-between;
  }

  .row {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;
    grid-gap: 10px;
  }

  header h3 {
    display: none;
  }

  .user_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
}
